
.main {
    background-color: var(--body_background);
    box-shadow: 0 0 20px 0px rgba(0,0,0,.5);
    color: var(--body_color); 
    border-radius: 5px;
    width: 980px;
    margin-left: 10px;
    margin-top: 70px;
    padding-bottom: 80px;
}
.main h2{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 360px;
    font-weight: 900;
    top: 5px;
    color: var(--body_color);
    /* background-color: rgb(233, 30, 99);
    color: white;
    width: 290px; */
    background-image: linear-gradient(10deg, #d21489, #0da0b4);
    background-clip: text;
    color: transparent;
}
.table tr{
    border: 1px solid var(--body_color);
    
}
.table {
    border: 1px solid var(--body_color);
border-collapse: collapse;
margin-left: 50px;
}
.table td{
    border: 1px solid var(--body_color);
}
.table th{
    border: 1px solid var(--body_color);
    width: 175px;
    padding-top: 5px;
padding-bottom: 5px;
background-color: #0da0b4;
    
}